body {
    background-color: #ededed;
}
.wrap {
    margin: 0 auto;
    margin-top: 200px;
}
.course-form {
    width: 700px;
    margin: 0 auto;
}
.question {
    box-shadow: 0px 1px 12px 0px #0000001f;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 70px;
    padding: 50px;
}
.question h1 span {
    font-weight: 400;
}
.region-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}
.check_form {
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.check_form input {
    display: none;
}
.check_form label {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #eee;
    color: #000;
    line-height: 100px;
}
.check_form input:checked + label {
    background-color: #000;
    color: #fff;
}
.course-form>button{
    width: 175px;
    height: 56px;
    background-color: #000;
    border: none;
    border-radius: 28px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 50px;
}