* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "pretendard", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding-right: 70px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
}

header {
    width: 100%;
    box-shadow: 0px 1px 12px 0px #0000001f;
}

.container {
    display: flex;
    width: 1520px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 250px;
    position: relative;
    margin-right: 30px;
}

.search input[type="text"] {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    height: 40px;
    font-size: 1rem;
}

.search input[type="text"]:focus {
    outline: none;
}

.search button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#login-btn {
    font-size: 1.4rem;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 514px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 30px;
}

.modal-content input {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 2px solid #c4c4c4;
    padding-left: 10px;
    margin-bottom: 5px;
}

.modal-content>button {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 50px;
}

.text-box {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

#join, #login {
    cursor: pointer;
}

.email-box {
    display: flex;
    justify-content: space-between;
}

.email-box>button {
    width: 35%;
    height: 55px;
    background-color: #c4c4c4;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 3px;
    font-size: 0.9rem;
    cursor: pointer;
}