button { font-family: "pretendard", sans-serif; }

.wrap {
    width: 1520px;
    margin: 0 auto;
    text-align: center;
}

.slider_wrapper {
    position: relative;
    width: 500%;
    max-width: 100%;  /* 원하는 크기로 조정 가능 */
    margin: auto;
    overflow: hidden; /* 빈 공간 방지 */
    background-size: cover; /* 배경을 커버로 설정 */
    background-position: center;
}

/* 슬라이드 내부 요소 (가로 정렬) */
.slider_inner {
    display: flex;
    width: 100%;
    transition: transform 1.2s ease-in-out;
    will-change: transform; /* 애니메이션 최적화 */
}

/* 각 슬라이드 */
.slider {
    min-width: 100%; /* 빈 공간 방지 */
    flex: 0 0 100%;
    position: relative;
    backface-visibility: hidden; /* 애니메이션 최적화 */
}

.slider img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(45%)
}

.txt {
    position: absolute;
    left: 10%;
    top: 43%;
}

.txt h1 {
    color: #fff;
    font-size: 4rem;
}

.txt button {
    background-color: rgba(0, 0, 0, 0.0);
    border: 4px solid #fff;
    color: #fff;
    width: 320px;
    height: 90px;
    border-radius: 45px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}

.con img {
    width: 450px;
    height: 275px;
    object-fit: cover;
    border-radius: 20px;
}