<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>region</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/board.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrap">
        <h1>검색결과</h1>
        <div class="concon">
            <div class="content-box">
                {% for item in items %}
                <div class="content">
                    {% if session["id"] %}
                        <div class="checkbox_box">
                            <label for="{{item.contentid}}">
                                {% if item.checked == 'FALSE' %}
                                    <input type="checkbox" onclick="favorite('{{item.contentid}}', this)" id="{{item.contentid}}" name="{{item.contentid}}">
                                    
                                    <img id="img_{{item.contentid}}" src="{{url_for('static', filename='./img/favorite.png')}}" alt="0">
                                {% else %}
                                    <input type="checkbox" checked onclick="favorite('{{item.contentid}}', this)" id="{{item.contentid}}" name="{{item.contentid}}">
                                    <img id="img_{{item.contentid}}" src="{{url_for('static', filename='./img/favorite_check.png')}}" alt="1">
                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                    <img src="{{item.firstimage}}" alt="" onerror="this.src='https://cdn-icons-png.flaticon.com/512/1174/1174795.png'">
                    <div class="txt" onclick="location.href='/post/{{item.contentid}}'">
                        <h3>{{item.title}}</h5>
                        <p>{{item.sigungu}}</p>
                        <p>#
                            {% if item.cat2 == "A0101" %}
                            자연관광지
                            {% elif item.cat2 == "A0102" %}
                            관광자원
                            {% elif item.cat2 == "A0201" %}
                            역사관광지
                            {% elif item.cat2 == "A0202" %}
                            휴양관광지
                            {% elif item.cat2 == "A0203" %}
                            체험관광지
                            {% elif item.cat2 == "A0204" %}
                            산업관광지
                            {% elif item.cat2 == "A0205" %}
                            건축/조형물
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="plus">+더보기</button>
    </div>
</body>
<script>
    let count = "{{count}}"
    let startCount = 0

    const code = {
        "A0101" : "자연관광지",
        "A0102" : "관광자원",
        "A0201" : "역사관광지",
        "A0202" : "휴양관광지",
        "A0203" : "체험관광지",
        "A0204" : "산업관광지",
        "A0205" : "건축/조형물"
    }

    $("#plus").click(function(){
        startCount += 10
        if(startCount >= count){
            startCount -= 10
            return;
        }

        let search = "{{search}}";
        let favoriteFillImgSrc = "{{url_for('static', filename='./img/favorite_check.png')}}"
        let favoriteUnFillImgSrc = "{{url_for('static', filename='./img/favorite.png')}}"

        $.ajax({
            type : "get",
            url : "/board_plus",
            data : {
                "page" : startCount,
                "search" : search
            },
            traditional: true, //화면에서 서버로 배열을 넘길때 사용
            success : function(datas){
                console.log(datas)
                //성공시 화면 HTML 추가..

                let html = "";
                for(let i = 0; i < datas.result.length; i++){
                    let data = datas.result[i];
                
                    html += '<div class="content">';
                    html +=     '<div class="checkbox_box">'
                    html +=         '<label for="'+data.contentid+'">'
                    html +=             '<input type="checkbox" onclick="favorite('+data.contentid+', this)" id="'+data.contentid+'" name="'+data.contentid+'">'
                    if(data.checked == "TRUE"){
                        html +=             '<img id="img_'+data.contentid+'" src="'+favoriteFillImgSrc+'" alt="">'
                    }else{
                        html +=             '<img id="img_'+data.contentid+'" src="'+favoriteUnFillImgSrc+'" alt="">'
                    }
                    html +=         '</label>'
                    html +=     '</div>'
                    html +=     '<img src="'+data.firstimage+'" alt="">'
                    html +=        '<div class="txt" onclick="location.href=`/post/'+data.contentid+'`">'
                    html +=             '<h3>'+data.title+'</h5>'
                    html +=             '<p>'+data.sigungu+'</p>'
                    html +=             '<p>#'+code[data.cat2]+'</p>'
                    html +=         '</div>'
                    html +=     '</div>'
                    html += '</div>'
                }
                $(".content-box").append(html);
                
            },
            error : function(result){
                console.log("에러발생")
            }
        });
    });

    function favorite(favorite, e){
        var check = $('#'+favorite).is(':checked');
        console.log(check)
        let chInt;
        
        if(check == true){
            chInt = 1;
        }else{
            chInt = 0;
        }

        $.ajax({
            type : "post",
            url : "/favorite_data",
            data : {
                "chInt" : chInt,
                "contentid" : favorite
            },
            success : function(result){
                console.log(result);
                if(chInt == 1){
                    $('#img_'+favorite).attr("src", "../static/img/favorite_check.png");
                }else{
                    $('#img_'+favorite).attr("src", "../static/img/favorite.png");
                }
            },
            error : function(){
                console.log("오류발생");
            }
        });
    }
</script>
</html>