<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/course.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <form action="/course_recommend" method="post" class="course-form">
            <div class="question">
                <h1>여행을 떠나고 싶은 지역을 <br> <span>선택해주세요.</span></h1>
                <div class="region-form">
                    <div class="check_form">
                        <input type="radio" id="region1" name="region" value="전주시">
                        <label for="region1">#전주</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region2" name="region" value="군산시">
                        <label for="region2">#군산</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region3" name="region" value="정읍시">
                        <label for="region3">#정읍</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region4" name="region" value="익산시">
                        <label for="region4">#익산</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region5" name="region" value="김제시">
                        <label for="region5">#김제</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region6" name="region" value="남원시">
                        <label for="region6">#남원</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region7" name="region" value="임실군">
                        <label for="region7">#임실</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region8" name="region" value="순창시">
                        <label for="region8">#순창</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region9" name="region" value="부안군">
                        <label for="region9">#부안</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region10" name="region" value="고창군">
                        <label for="region10">#고창</label>
                    </div>
                    <div class="check_form">
                        <input type="radio" id="region11" name="region" value="기타">
                        <label for="region11">#무주/진안/장수</label>
                    </div>
                </div>
            </div>
            <div class="question">
                <h1>원하는 여행 테마를 <br> <span>선택해주세요.</span></h1>
                <div class="region" >
                    <div class="region-form">
                        <div class="check_form">
                            <input type="checkbox" id="cat1" name="cat" value="A0101">
                            <label for="cat1">#자연관광지</label>
                        </div>
                        <div class="check_form">
                            <input type="checkbox" id="cat2" name="cat" value="A0102">
                            <label for="cat2">#관광자원</label>
                        </div>
                        <div class="check_form">
                            <input type="checkbox" id="cat3" name="cat" value="A0201">
                            <label for="cat3">#역사관광지</label>
                        </div>
                        <div class="check_form">
                            <input type="checkbox" id="cat4" name="cat" value="A0202">
                            <label for="cat4">#휴양관광지</label>
                        </div>
                        <div class="check_form">
                            <input type="checkbox" id="cat5" name="cat" value="A0203">
                            <label for="cat5">#체험관광지</label>
                        </div>
                        <div class="check_form">
                            <input type="checkbox" id="cat6" name="cat" value="A0204">
                            <label for="cat6">#산업관광지</label>
                        </div>
                        <div class="check_form">
                            <input type="checkbox" id="cat7" name="cat" value="A0205">
                            <label for="cat7">#건축/조형물</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit">만들기</button>
        </form>
    </div>
</body>
</html>