<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/course_recommend.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        {% if items %}
        <h1>이런 코스는 어떠세요?</h1>
        <p>선택하신 곳의 </p>
        {% for item in items %}
        <div class="content-box">
            <div id="map{{ loop.index }}" class="map" 
                data-mapx="{{ item.mapx }}" 
                data-mapy="{{ item.mapy }}" 
                style="width:100%; height:500px;">
            </div>
            <div class="content">
                        <img src="{{item.firstimage}}" alt="">
                        <div class="txt" onclick="location.href='/post/{{item.contentid}}'">
                            <h3>{{item.title}}</h5>
                            <p>{{item.sigungu}}</p>
                            <p>#
                                {% if item.cat2 == "A0101" %}
                                자연관광지
                                {% elif item.cat2 == "A0102" %}
                                관광자원
                                {% elif item.cat2 == "A0201" %}
                                역사관광지
                                {% elif item.cat2 == "A0202" %}
                                휴양관광지
                                {% elif item.cat2 == "A0203" %}
                                체험관광지
                                {% elif item.cat2 == "A0204" %}
                                산업관광지
                                {% elif item.cat2 == "A0205" %}
                                건축/조형물
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% for i in item.place_vo[:3] %}
                        ->
                        <div class="content">
                            <img src="{{i.firstimage}}" alt="">
                            <div class="txt" onclick="location.href='/post/{{i.contentid}}'">
                                <h3>{{i.title}}</h5>
                                <p>{{i.sigungu}}</p>
                                <p>#
                                    {% if i.cat2 == "A0101" %}
                                    자연관광지
                                    {% elif i.cat2 == "A0102" %}
                                    관광자원
                                    {% elif i.cat2 == "A0201" %}
                                    역사관광지
                                    {% elif i.cat2 == "A0202" %}
                                    휴양관광지
                                    {% elif i.cat2 == "A0203" %}
                                    체험관광지
                                    {% elif i.cat2 == "A0204" %}
                                    산업관광지
                                    {% elif i.cat2 == "A0205" %}
                                    건축/조형물
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
        {% else %}
                <h1>관광지 조회 결과 없음</h1>
        {% endif %}
    </div>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script>
$(document).ready(function() {


    let data = {{route|safe}}
    console.log(data)

    $(".map").each(function(idx) {
        var mapContainer = this;
        var mapx = $(this).data("mapx");
        var mapy = $(this).data("mapy");

        var mapOption = {
            center: new kakao.maps.LatLng(mapy, mapx),
            level: 6
        };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        var markerPosition = new kakao.maps.LatLng(mapy, mapx);
        var marker = new kakao.maps.Marker({ position: markerPosition });
        marker.setMap(map);

        var iwContent = '<div style="padding-left:52px; padding-top:2px;">출발지</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwPosition = new kakao.maps.LatLng(mapy, mapx); //인포윈도우 표시 위치입니다
        iwRemoveable = true;

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            position : iwPosition, 
            content : iwContent,
            removable : iwRemoveable
        });
        
        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
        infowindow.open(map, marker);

        const linePath = [];
        const testLine = [];
        const waypoints = [];

        //경유지 찾아서 마커
        data[idx].routes[0].summary?.waypoints.forEach(waypoint=>{
            var waypointMarker = new kakao.maps.Marker(
                { position: new kakao.maps.LatLng(waypoint.y, waypoint.x)}
            );
            waypointMarker.setMap(map);
            var wayContent = '<div style="padding-left:52px; padding-top:2px;">경유지</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            wayPosition = new kakao.maps.LatLng(waypoint.y, waypoint.x); //인포윈도우 표시 위치입니다

            // 인포윈도우를 생성합니다
            var wayinfowindow = new kakao.maps.InfoWindow({
                position : wayPosition, 
                content : wayContent,
                removable : iwRemoveable
        });
        
        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
        wayinfowindow.open(map, waypointMarker);
        })

        /* waypoints = data[idx].routes[0].summary.waypoints
        for(let i = 0; i < waypoints.length; i ++){
            waypoints[i].x
            waypoints[i].y
            position = new kakao.maps.LatLng(waypoints[i].y, waypoints[i].x)
            marker = new kakao.maps.Marker({
                position : position
            })
            marker.setMap(map)
        }
        */

        //도착지 마커
        var d = data[idx].routes[0].summary?.destination
        var d_position = new kakao.maps.LatLng(d.y, d.x);
        var destinationMarker = new kakao.maps.Marker({ position: d_position});
        destinationMarker.setMap(map);

        var d_Content = '<div style="padding-left:52px; padding-top:2px;">도착지</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        d_Position = new kakao.maps.LatLng(d.y, d.x); //인포윈도우 표시 위치입니다

        // 인포윈도우를 생성합니다
        var d_infowindow = new kakao.maps.InfoWindow({
            position : d_Position, 
            content : d_Content,
            removable : iwRemoveable
        });

        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
        d_infowindow.open(map, destinationMarker);


        data[idx].routes[0].sections?.forEach(routers =>{
            routers.roads.forEach(router => {
                router.vertexes.forEach((vertex, index) => {
                if (index % 2 === 0) {
                    linePath.push(new kakao.maps.LatLng(router.vertexes[index + 1], router.vertexes[index]));
                }
                });
            });
        })

        /* linePath = []
        routers = data[idx].routes[0].sections
        for(let i = 0; i < routers.length; i ++){
            router = routers[i]
            roads = router.roads
            for(let j = 0; j < roads.length; j ++){
                road = roads[j]
                vertexes = road.vertexes
                for(let k = 0; k < vertexes.length; k ++){
                    if(k % 2 == 0){
                        vertex = vertexes[k]
                        x = vertex[k]
                        y = vertex[k+1]
                        line = new kakao.maps.LatLng(y, x)
                        linePath.push(line)
                    }
                }
            }
        }
        */
        

        //console.log(testLine)
        if(linePath.length > 0){
            var polyline = new kakao.maps.Polyline({
                path: linePath,
                strokeWeight: 5,
                strokeColor: '#000000',
                strokeOpacity: 0.7,
                strokeStyle: 'solid'
            });
    
            var bounds = new kakao.maps.LatLngBounds(); 
            for (i = 0; i < linePath.length; i++) {
                
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(linePath[i]);
            }
            map.setBounds(bounds);
    
            polyline.setMap(map);
        }
        
    });
});


</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=***REMOVED***"></script>
</html>