<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <script>
        (function(d) {
            var config = {
            kitId: 'ses4qhw',
            scriptTimeout: 3000,
            async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/header.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/region">지역</a></li>
                <li><a href="/theme">테마</a></li>
                <li><a href="/course">여행코스</a></li>
                <li><a href="/favorite">즐겨찾기</a></li>
            </ul>
            <div class="right">
                <div class="search">
                    <input type="text" placeholder="통합검색">
                    <button type="submit"><img src="{{url_for('static', filename='./img/search_icon.png')}}" alt="검색버튼(돋보기)"></button>
                </div>
                <a href="#">로그인</a>
            </div>
        </div>
    </header>
</body>
</html>