<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/header.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/region">지역</a></li>
                <li><a href="/theme">테마</a></li>
                <li><a href="/course">여행코스</a></li>
                <li><a href="/favorite">즐겨찾기</a></li>
            </ul>
            <div class="right">
                <div class="search">
                    <input type="text" placeholder="통합검색">
                    <button type="submit"><img src="{{url_for('static', filename='./img/search_icon.png')}}" alt="검색버튼(돋보기)"></button>
                </div>
                <p id="login-btn">로그인</p>
            </div>
            <div id="login-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>로그인</h2>
                    <input type="text" placeholder="아이디"><br>
                    <input type="password" placeholder="비밀번호">
                    <div class="text-box">
                        <p>아이디가 없으신가요?</p>
                        <p id="join">회원가입</p>
                    </div>
                    <button>로그인</button>
                </div>
            </div>
            <div id="join-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>회원가입</h2>
                    <input type="text" placeholder="아이디"><br>
                    <input type="password" placeholder="비밀번호"><br>
                    <input type="text" placeholder="이름">
                    <div class="email-box">
                        <input type="text" placeholder="이메일">
                        <button>이메일 전송</button>
                    </div>
                    <input type="text" placeholder="이메일 인증번호">
                    <div class="text-box">
                        <p>이미 아이디가 있으신가요?</p>
                        <p id="login">로그인</p>
                    </div>
                    <button>회원가입</button>
                </div>
            </div>
        </div>
    </header>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script src="{{url_for('static', filename='./js/header.js')}}"></script>
</html>