<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/home.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="slider_wrap">
        <div class="slider_inner">
            <div class="slider">
                <img alt="" src="{{url_for('static', filename='./img/slide_1.jpg')}}">
            </div>
            <div class="slider">
                <img alt="" src="{{url_for('static', filename='./img/slide_2.jpg')}}">
            </div>
            <div class="slider">
                <img alt="" src="{{url_for('static', filename='./img/slide_3.jpg')}}">
            </div>
            <div class="slider">
                <img alt="" src="{{url_for('static', filename='./img/slide_4.jpg')}}">
            </div>
            <div class="slider">
                <img alt="" src="{{url_for('static', filename='./img/slide_5.jpg')}}">
            </div>
        </div>
        <div class="slider_inner_text">
            <div class="txt">
                <h1>전주에서 마주친 유럽 <br>전주 전동성당</h1>
                <button>바로가기 →</button>
            </div>
            <div class="txt">
                <h1>춘향의 사랑이 깃든 <br>남원 광한루</h1>
                <button>바로가기 →</button>
            </div>
            <div class="txt">
                <h1>철길따라 추억여행 <br>군산 철길마을</h1>
                <button>바로가기 →</button>
            </div>
            <div class="txt">
                <h1>분홍빛 파도가 일렁이는 <br>고창 학원농장</h1>
                <button>바로가기 →</button>
            </div>
            <div class="txt">
                <h1>전주에서 마주친 유럽 <br>전주 전동성당</h1>
                <button>바로가기 →</button>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div>
            <h1>최근 가장 핫한 관광지</h1>
            <p>최근 가장 인기있는 전라북도의 관광명소를 방문해 보세요!</p>
            <div>
                <div class="con">
                    <img alt="" src="{{url_for('static', filename='./img/slide_5.jpg')}}">
                    <h3>전주 동물원</h3>
                    <p>전북특별자치도 전주시 덕진구 소리로 68 전주동물원</p>
                </div>
            </div>
            <button>+더보기</button>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script src="{{url_for('static', filename='./js/home.js')}}"></script>
</html>