<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/mypage.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <div class="info-box">
            <div class="info">
                <h2>개인정보</h2>
                <hr>
            </div>
            <div class="info-details">
                <p>이름 : {{data.name}}</p>
                <p>아이디 : {{data.id}}</p>
                <p>이메일 : {{data.email}}</p>
                <button class="change-btn">비밀번호 변경</button>
                <button class="delete-btn">회원탈퇴</button>
            </div>
            <div id="change_pw" class="change_pw">
                <form action="/mypage" method="post">
                    <div class="change_content">
                        <span class="close">&times;</span>
                        <h2>비밀번호 변경</h2>
                        <input type="password" placeholder="새 비밀번호" name="pw"><br>
                        <input type="password" placeholder="새 비밀번호 확인" name="pwc"><br>
                        <button type="submit">확인</button>
                    </div>
                </form>
            </div>
            <div id="delete_user" class="delete_user">
                <form action="/delete_user" method="post" id="out-form">
                    <div class="delete_content">
                        <h2>회원탈퇴</h2>
                        <p>탈퇴를 원하시면 비밀번호를 입력해주세요.</p>
                        <input id="out-pw" type="password" placeholder="현재 비밀번호" name="pw"><br>
                        <button type="submit">확인</button>
                        <button type="button" class="d_close">취소</button>
                    </div>
                </form>
            </div>
            <div class="info view-list">
                <h2>최근 본 여행지</h2>
                <hr>
            </div>
            <div class="concon">
                <div class="content-box">
                    {% for list in lists %}
                        <div class="content">
                            {% if session["id"] %}
                                <div class="checkbox_box">
                                    <label for="{{list.contentid}}">
                                        {% if list.checked == 'FALSE' %}
                                            <input type="checkbox" onclick="favorite('{{list.contentid}}', this)" id="{{list.contentid}}" name="{{list.contentid}}">
                                            
                                            <img id="img_{{list.contentid}}" src="{{url_for('static', filename='./img/favorite.png')}}" alt="0">
                                        {% else %}
                                            <input type="checkbox" checked onclick="favorite('{{list.contentid}}', this)" id="{{list.contentid}}" name="{{list.contentid}}">
                                            <img id="img_{{list.contentid}}" src="{{url_for('static', filename='./img/favorite_check.png')}}" alt="1">
                                        {% endif %}
                                    </label>
                                </div>
                            {% endif %}
                            <img src="{{list.firstimage}}" alt="">
                            <div class="txt" onclick="location.href='/post/{{list.contentid}}'">
                                <h3>{{list.title}}</h5>
                                <p>{{list.sigungu}}</p>
                                <p>#
                                    {% if list.cat2 == "A0101" %}
                                    자연관광지
                                    {% elif list.cat2 == "A0102" %}
                                    관광자원
                                    {% elif list.cat2 == "A0201" %}
                                    역사관광지
                                    {% elif list.cat2 == "A0202" %}
                                    휴양관광지
                                    {% elif list.cat2 == "A0203" %}
                                    체험관광지
                                    {% elif list.cat2 == "A0204" %}
                                    산업관광지
                                    {% elif list.cat2 == "A0205" %}
                                    건축/조형물
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script src="{{url_for('static', filename='./js/mypage.js')}}"></script>
<script>
    $("#out-form").submit(function(e){
        e.preventDefault()
        if($("#out-pw").val().trim() == ""){
            alert("비밀번호를 입력해주세요")
            return false
        }
        $.ajax({
            url : "/password-check",
            type : "post",
            data : {
                pw : $("#out-pw").val()
            },
            success : function(data){
                console.log(data)
                if(data.result == true){
                    $("#out-form")[0].submit();
                    return true
                }else{
                    alert(data.message)
                    return false
                }
            },
            error : function(){
                alert("error")
                return false
            }
        })
    })
</script>
</html>