<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/mypage.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <div class="info-box">
            <div class="info">
                <h2>개인정보</h2>
                <hr>
            </div>
            <div class="info-details">
                <p>이름 : {{data.name}}</p>
                <p>아이디 : {{data.id}}</p>
                <p>이메일 : {{data.email}}</p>
                <button>비밀번호 변경</button>
            </div>
            <div class="info view-list">
                <h2>최근 본 여행지</h2>
                <hr>
            </div>
            <div class="concon">
                <div class="content-box">
                    {% for list in lists %}
                        <div class="content">
                            {% if session["id"] %}
                                <div class="checkbox_box">
                                    <label for="{{list.contentid}}">
                                        {% if list.checked == 'FALSE' %}
                                            <input type="checkbox" onclick="favorite('{{list.contentid}}', this)" id="{{list.contentid}}" name="{{list.contentid}}">
                                            
                                            <img id="img_{{list.contentid}}" src="{{url_for('static', filename='./img/favorite.png')}}" alt="0">
                                        {% else %}
                                            <input type="checkbox" checked onclick="favorite('{{list.contentid}}', this)" id="{{list.contentid}}" name="{{list.contentid}}">
                                            <img id="img_{{list.contentid}}" src="{{url_for('static', filename='./img/favorite_check.png')}}" alt="1">
                                        {% endif %}
                                    </label>
                                </div>
                            {% endif %}
                            <img src="{{list.firstimage}}" alt="">
                            <div class="txt" onclick="location.href='/post/{{list.contentid}}'">
                                <h3>{{list.title}}</h5>
                                <p>{{list.sigungu}}</p>
                                <p>#
                                    {% if list.cat2 == "A0101" %}
                                    자연관광지
                                    {% elif list.cat2 == "A0102" %}
                                    관광자원
                                    {% elif list.cat2 == "A0201" %}
                                    역사관광지
                                    {% elif list.cat2 == "A0202" %}
                                    휴양관광지
                                    {% elif list.cat2 == "A0203" %}
                                    체험관광지
                                    {% elif list.cat2 == "A0204" %}
                                    산업관광지
                                    {% elif list.cat2 == "A0205" %}
                                    건축/조형물
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>