<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/mypage.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <div class="info-box">
            <div class="info">
                <h2>개인정보</h2>
                <hr>
            </div>
            <div class="info-details">
                <p>이름 : {{data.name}}</p>
                <p>아이디 : {{data.id}}</p>
                <p>이메일 : {{data.email}}</p>
                <button>비밀번호 변경</button>
            </div>
            <div class="info view-list">
                <h2>최근 본 여행지</h2>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>