<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/post.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <div class="post-top">
            <h1>전주 한옥마을</h1>
            <span>전북 전주시</span>
            <p>한국의 옛 정취를 느껴볼 수 있는 곳</p>
        </div>
        <img src="{{url_for('static', filename='./img/slide_4.jpg')}}" alt="">
        <div class="text-wrapper">
            <h2>상세정보</h2>
            <p class="text">전주 한옥마을은 전주 풍남동 일대에 700여 채의 한옥이 군락을 이루고 있는 국내 최대 규모의 전통 한옥촌으로, 전국 유일의 도심
                한옥군이다. 1910년 조성되기 시작한 우리나라 근대 주거문화 발달과정의 중요한 공간으로, 경기전, 오목대, 향교 등 중요 문화재와 
                20여 개의 문화시설이 산재되어 있다. 향교길, 최명희길, 경기전길 등을 거닐면 한옥마을의 아름다운 골목길 모습과 한옥의 정취를 
                느낄 수 있다. 전주 한옥마을에 밤이 찾아오면 태조로를 밝히는 천사초롱과 한옥담장을 더욱 돋보이게 만드는 조명들로 감미로운 
                야경을 감상할 수 있다. 또 전주난장과 자만벽화마을, 야시장, 청년몰 등 이색 여행공간도 만날 수 있다. 전주 한옥마을은 전주 풍남동 일대에 700여 채의 한옥이 군락을 이루고 있는 국내 최대 규모의 전통 한옥촌으로, 전국 유일의 도심
                한옥군이다. 1910년 조성되기 시작한 우리나라 근대 주거문화 발달과정의 중요한 공간으로, 경기전, 오목대, 향교 등 중요 문화재와 
                20여 개의 문화시설이 산재되어 있다. 향교길, 최명희길, 경기전길 등을 거닐면 한옥마을의 아름다운 골목길 모습과 한옥의 정취를 
                느낄 수 있다. 전주 한옥마을에 밤이 찾아오면 태조로를 밝히는 천사초롱과 한옥담장을 더욱 돋보이게 만드는 조명들로 감미로운 
                야경을 감상할 수 있다. 또 전주난장과 자만벽화마을, 야시장, 청년몰 등 이색 여행공간도 만날 수 있다 전주 한옥마을은 전주 풍남동 일대에 700여 채의 한옥이 군락을 이루고 있는 국내 최대 규모의 전통 한옥촌으로, 전국 유일의 도심
                한옥군이다. 1910년 조성되기 시작한 우리나라 근대 주거문화 발달과정의 중요한 공간으로, 경기전, 오목대, 향교 등 중요 문화재와 
                20여 개의 문화시설이 산재되어 있다. 향교길, 최명희길, 경기전길 등을 거닐면 한옥마을의 아름다운 골목길 모습과 한옥의 정취를 
                느낄 수 있다. 전주 한옥마을에 밤이 찾아오면 태조로를 밝히는 천사초롱과 한옥담장을 더욱 돋보이게 만드는 조명들로 감미로운 
                야경을 감상할 수 있다. 또 전주난장과 자만벽화마을, 야시장, 청년몰 등 이색 여행공간도 만날 수 있다</p>
            <span class="more-text">더보기</span>
            <span class="less-text">줄이기</span> 
        </div>
        <div id="map" style="width:100%;height:300px;"></div> 
        <div class="review">
            <h2>관광지 리뷰</h2>
            <div class="review-text">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <p>전주한옥마을 한바퀴 돌면서 맛있는 먹거리도 먹으며 아이가 한복 입고 돌아다니는데 꼭 공주님 된 거 같다면서 너무 좋아했어요</p>
                <span>2025.03.21</span>
            </div>
            <hr>
            <div class="review-text">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <p>전주한옥마을 한바퀴 돌면서 맛있는 먹거리도 먹으며 아이가 한복 입고 돌아다니는데 꼭 공주님 된 거 같다면서 너무 좋아했어요</p>
                <span>2025.03.21</span>
            </div>
            <hr>
            <div class="review-text">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                <p>전주한옥마을 한바퀴 돌면서 맛있는 먹거리도 먹으며 아이가 한복 입고 돌아다니는데 꼭 공주님 된 거 같다면서 너무 좋아했어요</p>
                <span>2025.03.21</span>
            </div>
            <a href="/review">리뷰 더보기 -></a>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script src="{{url_for('static', filename='./js/post.js')}}"></script>
<script src="{{url_for('static', filename='./js/map.js')}}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=***REMOVED***"></script>
</html>