<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/post.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <div class="post-top">
            <h1>{{data.title}}</h1>
            <span>전라북도 {{data.sigungu}}</span>
        </div>
        <img src="{{data.firstimage}}" alt="">
        <div class="text-wrapper">
            <h2>상세정보</h2>
            <p class="text">{{data.overview}}</p>
            <span class="more-text">더보기</span>
            <span class="less-text">줄이기</span> 
        </div>
        <div id="map" style="width:100%;height:300px;"></div> 
        {% if reviews %}
            <div class="review">
                <h2>관광지 리뷰</h2>
                {% for review in reviews[0:3] %}
                    <div class="review-text">
                        {% if review.score %}
                            {% for i in range(0, review.score) %}
                                <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                            {% endfor %}
                        {% endif %}
                        <p>{{review.review}}</p>
                        <span>{{review.name}}</span>
                    </div>
                    <hr>
                {% endfor %}
                <a href="/review/{{data.contentid}}">리뷰 더보기 -></a>
            </div>
        {% endif %}
            <h2>유사 관광지 추천</h2>
            <div class="recommend">
                {% for similar in similars %}
                    <div class="re-con" onclick="location.href='/post/{{similar.contentid}}'">
                        <img src="{{similar.firstimage}}" alt="">
                        <p>{{similar.title}}</p>
                    </div>
                {% endfor %}
            </div>
    </div>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script src="{{url_for('static', filename='./js/post.js')}}"></script>
<script>
$(document).ready(function() {
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng("{{data.mapy}}", "{{data.mapx}}"), // 지도의 중심좌표
            level: 6 // 지도의 확대 레벨
        };
        
    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    var markerPosition  = new kakao.maps.LatLng("{{data.mapy}}", "{{data.mapx}}");
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });
        marker.setMap(map);
});
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_js_key }}"></script>
</html>