<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>region</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/region.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrap">
        <h1>지역별 인기 여행지</h1>
        <p>전북의 여행지를 한눈에!</p>
        <div class="region">
            <div>
                <input type="checkbox" name="region">#전주
                <input type="checkbox" name="region">#군산
                <input type="checkbox" name="region">#정읍
                <input type="checkbox" name="region">#익산
                <input type="checkbox" name="region">#김제
            </div>
            <div>
                <input type="checkbox" name="region">#남원
                <input type="checkbox" name="region">#임실
                <input type="checkbox" name="region">#순창
                <input type="checkbox" name="region">#부안
                <input type="checkbox" name="region">#고창
                <input type="checkbox" name="region">#무주/진안/장수
            </div>
        </div>
        <div class="content-box">
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
        </div>
        <button>+더보기</button>
    </div>
</body>
</html>