<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>region</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/region.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrap">
        <h1>지역별 인기 여행지</h1>
        <p>전북의 여행지를 한눈에!</p>
        <div class="region">
            <div>
                <button value="jeonju">#전주</button>
                <button value="jeonju">#군산</button>
                <button value="jeonju">#정읍</button>
                <button value="jeonju">#익산</button>
                <button value="jeonju">#김제</button>
            </div>
            <div>
                <button value="jeonju">#남원</button>
                <button value="jeonju">#임실</button>
                <button value="jeonju">#순창</button>
                <button value="jeonju">#부안</button>
                <button value="jeonju">#고창</button>
                <button value="jeonju">#무주/진안/장수</button>
            </div>
        </div>
        <div class="content-box">
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
        </div>
        <button>+더보기</button>
    </div>
</body>
</html>