<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>region</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/region.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrap">
        <h1>지역별 인기 여행지</h1>
        <p>전북의 여행지를 한눈에!</p>
        <form action="/region" method="get" id="regionForm">
            <div class="region">
                <div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '전주시' in regions else '' }} id="check1" name="region" value="전주시">
                        <label for="check1">#전주</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '군산시' in regions else '' }} id="check2" name="region" value="군산시">
                        <label for="check2">#군산</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '정읍시' in regions else '' }} id="check3" name="region" value="정읍시">
                        <label for="check3">#정읍</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '익산시' in regions else '' }} id="check4" name="region" value="익산시">
                        <label for="check4">#익산</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '김제시' in regions else '' }} id="check5" name="region" value="김제시">
                        <label for="check5">#김제</label>
                    </div>
                </div>
                <div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '남원시' in regions else '' }} id="check6" name="region" value="남원시">
                        <label for="check6">#남원</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '임실군' in regions else '' }} id="check7" name="region" value="임실군">
                        <label for="check7">#임실</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '순창시' in regions else '' }} id="check8" name="region" value="순창시">
                        <label for="check8">#순창</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '부안군' in regions else '' }} id="check9" name="region" value="부안군">
                        <label for="check9">#부안</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '고창군' in regions else '' }} id="check10" name="region" value="고창군">
                        <label for="check10">#고창</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if '기타' in regions else '' }} id="check11" name="region" value="기타">
                        <label for="check11">#무주/진안/장수</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="concon">
            <div class="content-box">
                {% for item in items %}
                <div class="content">
                    {% if session["id"] %}
                        <div class="checkbox_box">
                            <label for="{{item.contentid}}">
                                {% if item.checked == 'FALSE' %}
                                    <input type="checkbox" onclick="favorite('{{item.contentid}}', this)" id="{{item.contentid}}" name="{{item.contentid}}">
                                    
                                    <img id="img_{{item.contentid}}" src="{{url_for('static', filename='./img/favorite.png')}}" alt="0">
                                {% else %}
                                    <input type="checkbox" checked onclick="favorite('{{item.contentid}}', this)" id="{{item.contentid}}" name="{{item.contentid}}">
                                    <img id="img_{{item.contentid}}" src="{{url_for('static', filename='./img/favorite_check.png')}}" alt="1">
                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                    <img src="{{item.firstimage}}" alt="">
                    <div class="txt" onclick="location.href='/post/{{item.contentid}}'">
                        <h3>{{item.title}}</h5>
                        <p>{{item.sigungu}}</p>
                        <p>#한옥 #전통문화</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="plus">+더보기</button>
    </div>
</body>
<script>
    $('input[name="region"]').change(function() {
        $('input[name="region"]:checked').each(function() {
            console.log($(this))
        });
        $("#regionForm").submit()
    })
    
    $("#plus").click(function(){
        let page = $(".content").length + 10;
        let region 
        console.log(page)
        $.ajax({
            type : "post",
            url : "/region_plus",
            data : {
                "page" : page,
                "region" : region
            },
            success : function(result){
                console.log(result)
            },
            error : function(result){
                console.log("에러발생")
            }
        });
    });


    function favorite(favorite, e){
        var check = $('#'+favorite).is(':checked');
        console.log(check)
        let chInt;
        
        if(check == true){
            chInt = 1;
        }else{
            chInt = 0;
        }

        $.ajax({
            type : "post",
            url : "/favorite_data",
            data : {
                "chInt" : chInt,
                "contentid" : favorite
            },
            success : function(result){
                console.log(result);
                if(chInt == 1){
                    $('#img_'+favorite).attr("src", "../static/img/favorite_check.png");
                }else{
                    $('#img_'+favorite).attr("src", "../static/img/favorite.png");
                }
            },
            error : function(){
                console.log("오류발생");
            }
        });
    }
</script>
</html>