<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/review.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="wrap">
        <div class="review">
            <h2>관광지 리뷰</h2>
            {% for review in reviews %}
                <div class="review-text">
                    {% for i in range(0, review.score) %}
                        <img src="{{url_for('static', filename='./img/star.png')}}" alt="">
                    {% endfor %}
                    <p>{{review.review}}</p>
                    <span>{{review.name}}</span>
                </div>
                <hr>
            {% endfor %}
            <a href="/review" class="more-review">리뷰 더보기</a>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='./js/jquery-3.7.1.js')}}"></script>
<script src="{{url_for('static', filename='./js/review.js')}}"></script>
</html>