<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theme</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/region.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrap">
        <h1>테마별 인기 여행지</h1>
        <p>전북의 여행지를 한눈에!</p>
        <div class="region">
            <div>
                <div class="check_form">
                    <input type="checkbox" id="check1" name="" value="">
                    <label for="check1">#전주</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check2" name="" value="">
                    <label for="check2">#군산</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check3" name="" value="">
                    <label for="check3">#정읍</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check4" name="" value="">
                    <label for="check4">#익산</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check5" name="" value="">
                    <label for="check5">#김제</label>
                </div>
            </div>
            <div>
                <div class="check_form">
                    <input type="checkbox" id="check6" name="" value="">
                    <label for="check6">#남원</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check7" name="" value="">
                    <label for="check7">#임실</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check8" name="" value="">
                    <label for="check8">#순창</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check9" name="" value="">
                    <label for="check9">#부안</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check10" name="" value="">
                    <label for="check10">#고창</label>
                </div>
                <div class="check_form">
                    <input type="checkbox" id="check11" name="" value="">
                    <label for="check11">#무주/진안/장수</label>
                </div>
            </div>
        </div>
        <div class="content-box">
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
            <div class="content">
                <img src="{{url_for('static', filename='./img/img.jpg')}}" alt="">
                <div class="txt">
                    <h3>전주 한옥마을</h5>
                    <p>전주시</p>
                    <p>#한옥 #전통문화</p>
                </div>
            </div>
        </div>
        <button>+더보기</button>
    </div>
</body>
</html>