<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>region</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/theme.css')}}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrap">
        <h1>테마별 인기 여행지</h1>
        <p>전북의 여행지를 한눈에!</p>
        <form action="/theme" method="get" id="regionForm">
            <div class="region">
                <div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0101' in cats else '' }} id="check1" name="cat" value="A0101">
                        <label for="check1">#자연관광지</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0102' in cats else '' }} id="check2" name="cat" value="A0102">
                        <label for="check2">#관광자원</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0201' in cats else '' }} id="check3" name="cat" value="A0201">
                        <label for="check3">#역사관광지</label>
                    </div>
                </div>
                <div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0202' in cats else '' }} id="check6" name="cat" value="A0202">
                        <label for="check6">#휴양관광지</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0203' in cats else '' }} id="check7" name="cat" value="A0203">
                        <label for="check7">#체험관광지</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0204' in cats else '' }} id="check8" name="cat" value="A0204">
                        <label for="check8">#산업관광지</label>
                    </div>
                    <div class="check_form">
                        <input type="checkbox" {{ 'checked' if 'A0205' in cats else '' }} id="check9" name="cat" value="A0205">
                        <label for="check9">#건축/조형물</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="concon">
            <div class="content-box">
                {% for item in items %}
                <div class="content">
                    {% if session["id"] %}
                        <div class="checkbox_box">
                            <label for="{{item.contentid}}">
                                {% if item.checked == 'FALSE' %}
                                    <input type="checkbox" onclick="favorite('{{item.contentid}}', this)" id="{{item.contentid}}" name="{{item.contentid}}">
                                    
                                    <img id="img_{{item.contentid}}" src="{{url_for('static', filename='./img/favorite.png')}}" alt="0">
                                {% else %}
                                    <input type="checkbox" checked onclick="favorite('{{item.contentid}}', this)" id="{{item.contentid}}" name="{{item.contentid}}">
                                    <img id="img_{{item.contentid}}" src="{{url_for('static', filename='./img/favorite_check.png')}}" alt="1">
                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                    <img src="{{item.firstimage}}" alt="">
                    <div class="txt" onclick="location.href='/post/{{item.contentid}}'">
                        <h3>{{item.title}}</h5>
                        <p>{{item.sigungu}}</p>
                        <p>#
                            {% if item.cat2 == "A0101" %}
                            자연관광지
                            {% elif item.cat2 == "A0102" %}
                            관광자원
                            {% elif item.cat2 == "A0201" %}
                            역사관광지
                            {% elif item.cat2 == "A0202" %}
                            휴양관광지
                            {% elif item.cat2 == "A0203" %}
                            체험관광지
                            {% elif item.cat2 == "A0204" %}
                            산업관광지
                            {% elif item.cat2 == "A0205" %}
                            건축/조형물
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="plus">+더보기</button>
    </div>
</body>
<script>
    let count = "{{count}}"

    

    $('input[name="cat"]').change(function() {
        $('input[name="cat"]:checked').each(function() {
            console.log($(this))
        });
        $("#regionForm").submit()
    })
    
    $("#plus").click(function(){
        let page = $(".content").length + 10;
        let cat = [];

        $('input[name="cat"]:checked').each(function() {
            cat.push($(this).val());
        });

        $.ajax({
            type : "get",
            url : "/region_plus",
            data : {
                "page" : page,
                "cat" : cat
            },
            traditional: true, //화면에서 서버로 배열을 넘길때 사용
            success : function(result){
                console.log(result)
                //성공시 화면 HTML 추가..
            },
            error : function(result){
                console.log("에러발생")
            }
        });
    });


    function favorite(favorite, e){
        var check = $('#'+favorite).is(':checked');
        console.log(check)
        let chInt;
        
        if(check == true){
            chInt = 1;
        }else{
            chInt = 0;
        }

        $.ajax({
            type : "post",
            url : "/favorite_data",
            data : {
                "chInt" : chInt,
                "contentid" : favorite
            },
            success : function(result){
                console.log(result);
                if(chInt == 1){
                    $('#img_'+favorite).attr("src", "../static/img/favorite_check.png");
                }else{
                    $('#img_'+favorite).attr("src", "../static/img/favorite.png");
                }
            },
            error : function(){
                console.log("오류발생");
            }
        });
    }
</script>
</html>